!ep01/
ep01/vendor/*
!ep02/
ep02/vendor/*
!ep03/
ep03/vendor/*
!ep04/
ep04/vendor/*
!ep05/
ep05/vendor/*
!ep06/
ep06/vendor/*
!ep07/
ep07/vendor/*
!ep08/
ep08/vendor/*
!ep09/
ep09/vendor/*
!ep10/
ep10/vendor/*
!ep11/
ep11/vendor/*
!ep12/
ep12/vendor/*

